@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ORDENO EL CONTENIDO DEL SITIO:*/
.grilla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #807182;
  font-family: "Nunito", sans-serif;
  padding: 0 5%;
  background-image: linear-gradient(-775deg, #86e2e1 0%, #C5C1FF 56%, #f5d4d8 100%);
  /* height: 100vh; */
  width: 100vw;
}

.grilla a {
  text-decoration: none;
  font-weight: bold;
}

.grilla .icon {
  color: #807182;
  font-size: 1.5rem;
  margin: 2.8px;
}

.grilla .icon .fas:hover {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.grilla .icon .fab:hover {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 1230px) {
  .grilla {
    padding: 0;
  }
}

.grilla .header .iconsNav {
  text-align: right;
  padding-top: 10px;
}

.grilla .header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  background-image: url(../images/Fondo10.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.grilla .header .hero .nombreDelSitio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.grilla .header .hero .nombreDelSitio .nombreDelSitio__logo {
  width: 200px;
  height: 200px;
}

@media (max-width: 768px) {
  .grilla .header .hero .nombreDelSitio .nombreDelSitio__logo {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 576px) {
  .grilla .header .hero .nombreDelSitio .nombreDelSitio__logo {
    width: 100px;
    height: 100px;
  }
}

.grilla .header .hero .nombreDelSitio .nombreDelSitio__tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: black;
  text-shadow: 4px 4px 4px #525050;
}

.grilla .header .hero .nombreDelSitio .nombreDelSitio__tittle .animate__animated.animate__rubberBand {
  --animate-duration: 1s;
}

.grilla .header .hero .nombreDelSitio .nombreDelSitio__tittle p {
  margin: 5px;
}

@media (max-width: 768px) {
  .grilla .header .hero .nombreDelSitio .nombreDelSitio__tittle {
    font-size: 1.5em;
  }
}

@media (max-width: 576px) {
  .grilla .header .hero .nombreDelSitio .nombreDelSitio__tittle {
    font-size: 1em;
  }
}

.grilla .header .hero .search {
  width: 50%;
}

.grilla .header .hero .search .search__input {
  border: none;
  border-radius: 25px;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  font-weight: bold;
  margin-top: 20px;
  padding: 5px 15px;
}

@media (max-width: 768px) {
  .grilla .header .hero .search {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .grilla .header .hero .search {
    width: 90%;
  }
}

.grilla .main {
  grid-area: main;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "menu content";
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
  height: 100%;
}

.grilla .main .menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
  padding: 0 1em;
  display: inline-block;
}

@media (max-width: 768px) {
  .grilla .main .menu .genero__titulo {
    display: none;
  }
}

.grilla .main .menu .navbar-nav .lista {
  list-style: none;
  padding-top: 1em;
}

.grilla .main .menu .navbar-nav .lista .nav-link {
  margin-bottom: 1em;
}

.grilla .main .menu .navbar-nav .lista .nav-link:hover {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 1073px) {
  .grilla .main .menu .navbar-nav .lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .grilla .main .menu .navbar-nav .lista {
    padding-top: 0;
  }
}

@media (max-width: 576px) {
  .grilla .main .menu .navbar-nav .lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1073px) {
  .grilla .main .menu .navbar-nav {
    margin: 0;
  }
}

@media (max-width: 1073px) {
  .grilla .main .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.grilla .main .content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  /* padding: 0 5em; */
}

.grilla .main .content .content__titulo {
  text-align: center;
  padding-bottom: 0.5em;
}

.grilla .main .content .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1em;
}

.grilla .main .content .cards-wrapper .card .card-title {
  text-align: center;
}

.grilla .main .content .cards-wrapper .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grilla .main .content .cards-wrapper .card .card-body .btn-primary {
  background-color: #414141;
  border: none;
}

@media (max-width: 887px) {
  .grilla .main .content .cards-wrapper .card {
    margin-top: 2em;
  }
  .grilla .main .content .cards-wrapper .card:not(:first-child) {
    display: none;
  }
}

.grilla .main .content .carousel-control-next, .grilla .main .content .carousel-control-prev {
  width: 8%;
}

.grilla .main .content .carousel-control-next .carousel-control-next-icon, .grilla .main .content .carousel-control-next .carousel-control-prev-icon, .grilla .main .content .carousel-control-prev .carousel-control-next-icon, .grilla .main .content .carousel-control-prev .carousel-control-prev-icon {
  opacity: 1;
}

.grilla .main .content .content__genero__wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "game game"
 "game game";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grilla .main .content .content__genero__wrapper .game__genero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  -webkit-box-shadow: 2px 4px 4px 2px #b1afaf;
          box-shadow: 2px 4px 4px 2px #b1afaf;
}

.grilla .main .content .content__genero__wrapper .game__genero .img {
  width: 50%;
  height: auto;
}

.grilla .main .content .content__genero__wrapper .game__genero .game__genero__info {
  padding-top: 1em;
}

.grilla .main .content .content__genero__wrapper .game__genero .game__genero__info p {
  margin-bottom: 1em;
}

.grilla .main .content .content__genero__wrapper .game__genero .game__genero__info .game__genero__info__lista {
  padding-left: 1em;
}

.grilla .main .content .content__genero__wrapper .game__genero .boton__genero {
  margin-top: auto;
}

@media (max-width: 576px) {
  .grilla .main .content .content__genero__wrapper {
        grid-template-areas: "game";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1073px) {
  .grilla .main .content {
    padding-top: 1em;
    border-top: solid 1px grey;
  }
}

@media (max-width: 576px) {
  .grilla .main .content {
    padding: 0;
    border-top: none;
  }
}

@media (max-width: 1073px) {
  .grilla .main {
        grid-template-areas: "menu"
 "content";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grilla .footer {
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 100%;
  font-weight: bold;
  padding-top: 10px;
  border-top: solid 1px grey;
}
/*# sourceMappingURL=estilo.css.map */